
body{
  justify-content: center;
  justify-items: center;
  background-color: inherit;
}

.alta-recluso-btn-container{
  margin-top: 3em;
}
.alta-recluso-btn{
  border: 2px solid azure;
  background-color: #030329;
  width: 20em;
  border-radius: 20px;
  color: azure;
}
.alta-recluso-btn:hover {
  background-color: #06063b;
  color: white;
}

.alta-recluso-icono {
  font-size: 3.5em;
  justify-self: center;
}

.recluso-buscado {
  padding: 1em;
  margin-bottom: 1.5em;
  border: .5px solid rgb(224, 217, 217);
  border-radius: 5px;
  text-align: center;
  background-color: rgb(253, 250, 250);
}