<head>
  <link rel="stylesheet" href="alta-actividad.component.css">
</head>

<body>
    <div class="alta-actividad-container">
      <button class="btn-alta-actividad" (click)="mostrarActividad()" title="Nueva Actividad" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseActividad" aria-expanded="false" aria-controls="collapseActividad">
        <i class="bi bi-plus-lg alta-actividad-icono" *ngIf="!mostrar_actividad"></i>
        <i class="bi bi-dash-lg alta-actividad-icono" *ngIf="mostrar_actividad"></i>
      </button>
      <div class="actividad" class="collapse" id="collapseActividad">
    <app-formulario-actividad (sendFormActividadValue)="crearActividad($event)"></app-formulario-actividad>
      </div>
    </div>
  </body>

