body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-color: inherit;
}

.alta-actividad-container {
  justify-items: center;
  display: grid;
}

.actividad {
  position: relative;
  background-color: rgb(219, 215, 215);
  text-align: center;
  width: 26em;
  margin-top: 0.2em;
}


.alta-actividad-icono {
  font-size: 3.5em;
  justify-self: center;
}

.btn-alta-actividad {
  border:2px solid azure;
  background-color: #030329; /*#050555; #021e4f; */
  width: 20em;
  border-radius: 20px;
  color: azure;
}
.btn-alta-actividad:hover {
  background-color: #06063b;
  color: white;
}
