<body>

<div class="actividad">
  <h5 *ngIf="!modificar_actividad">Nueva Actividad</h5>
  <h6 *ngIf="modificar_actividad">Cod. {{actividad.cod_actividad}}</h6>
  <form class="form-actividad" [formGroup]="form_actividad" (submit)="enviarValorFormulario()">
    <fieldset class="fielset-nombre">
      <label>Nombre</label>
      <input  type="text" formControlName="nombre">
    </fieldset>
    <fieldset>
      <label>Descripcion</label>
      <textarea formControlName="descripcion" maxlength="50" ></textarea>
    </fieldset>
    <fieldset>
      <label>Ubicacion</label>
      <select formControlName="cod_sector" >
        <option value="X">Sector X</option>
        <option value="Y">Sector Y</option>
        <option value="Z">Sector Z</option>
      </select>
    </fieldset>
    <fieldset>
      <label>Dia de la Semana</label>
      <select formControlName="dia_de_la_semana">
        <option value="lunes">Lunes</option>
        <option value="martes">Martes</option>
        <option value="miercoles">Miercoles</option>
        <option value="jueves">Jueves</option>
        <option value="viernes">Viernes</option>
        <option value="sabado">Sabado</option>
        <option value="domingo">Domingo</option>
      </select>
    </fieldset>
    <fieldset>
      <label>Hora de Inicio</label>
      <select formControlName="hora_inicio" (click)="setHoraInicioOptions()" (change)="changeHoraInicio()">
    <option *ngFor="let hora_ini of hora_ini_arr" type="text" [value]="hora_ini">{{hora_ini}}</option>
  </select>
    </fieldset>
    <fieldset>
      <label>Hora Finalización</label>
      <select formControlName="hora_fin" (click)="setHoraFinOptions()">
        <option *ngFor="let hora_fin of hora_fin_arr" type="text" [value]="hora_fin">{{hora_fin}}</option>
      </select>
    </fieldset>
    <fieldset>
      <label>Cupos </label>
      <select formControlName="cant_cupos" (click)="setCantCuposOptions()">
        <option *ngFor="let cupo of cant_cupos_arr" [value]="cupo">{{cupo}}</option>
      </select>
    </fieldset>
    <button class="btn-inscripcion" (click)="irAInscripcion()" *ngIf="modificar_actividad"
    [disabled]="form_actividad.invalid || form_actividad.disabled">
      Inscripcion</button>
    <button class="btn-save" [disabled]="form_actividad.invalid || form_actividad.disabled">Guardar</button>

  </form>
    <div class="edit" (click)="editarActividad()" title="Editar" *ngIf="modificar_actividad">
      <i class="bi bi-pencil-square edit-icon"></i>
    </div>
    <div class="delete" (click)="eliminarActividad()" title="Eliminar" *ngIf="modificar_actividad">
      <i class="bi bi-x delete-icon"></i>
    </div>

</div>
</body>