<body>
    <app-formulario-sector></app-formulario-sector>
<div class="sectores-container">
    <div class="sector" *ngFor="let sector of sectores" [class.inhabilitado]="sector.habilitado === false">
        <h6>{{sector.nombre}}</h6>
        <h6 class="cod_sector">{{sector.cod_sector}}</h6>
        <p></p>
        <p>{{sector.descripcion}}</p>
        <p *ngIf="sector.descripcion===null"> Sin Descripción</p>
        <p></p>
        <div class="delete" (click)="eliminarSector(sector.cod_sector)"
         title="Eliminar">
            <i class="bi bi-x delete-icon"></i>
        </div>
        <div class="edit" (click)="editarSector(sector)" title="Editar">
            <i class="bi bi-pencil-square edit-icon"></i>
        </div>
        <div class="mas-informacion" (click)="verDetalleSector(sector.cod_sector)">
            Mas Informacion
        </div>
    </div>
</div>


</body>