
body{
  background-color: rgb(179 179 179);
  height: 100vh;
  padding-top: 1em;
}

.alta-guardia-container{
  margin-top: 0em;
}

.buscar-guardia-container{
  margin-top: 5em;
  margin-bottom: 2.5em;}
