<body>
<div class="form-logIn-container">
<h3>Libertant</h3> <br>
<form class="row g-3 needs-validation" (submit)="validarUsuarios()" [formGroup]="form_logIn" novalidate>
    <div class="col-md-4 codigo">
        <label for="validationCustom01" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationCustom01"
         formControlName="user_name" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <br>
    <div class="col-md-4 contrasenia">
        <label for="validationCustom02" class="form-label">Contraseña</label>
        <input class="form-control" id="validationCustom02"
        type="password" formControlName="password" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    </div>
    <div class="col-12 captcha">
        <re-captcha (resolved)="onCaptchaResolved($event)"
         siteKey="6Ld-6ucsAAAAAB26mhmAhF-W4PdPUenTExgAyH-4"></re-captcha>
    </div>
</form>
</div>
</body>